.App-logo {
    height: 10vmin;
  }

.App-header{
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body .App, .Content{
    background-color: rgba(209, 201, 201, 0.404);
  }

.Form{
    font-family: 'Hind', sans-serif;
}

/*======= Title =======*/

h1, h3{
    font-size: 3vw;
    margin: 1vw;
}

/*====== Form ======*/
p{
    font-size: 3vw;
    margin: 2vw;
    text-align: center;
}